# OpenAI
openai==1.55.1

# LangChain
langchain
langchain-community
langchain-experimental


transformers 
einops 
accelerate
unstructured

pypdf
chromadb
python-dotenv==1.0.0
tiktoken
numpy
pandas
matplotlib

#layers/
